*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(#f44369 0%, #3e3b92 80%);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor{
    font-size: x-large;
    padding: 10px;
    display: inline;
    text-align: center;
    width: auto;
    height: max-content;
    background-color: #353535;
    border-radius: 30px;
    padding-bottom: 3rem;
    border: none;
    color: whitesmoke;
    user-select: none;
}
.contenedor input{
    border-radius: 1rem;
    height: 2rem;
    border: none;
    text-align: center;
    font-size: x-large;
    outline: none;
}


